.talesSection {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.talesSection > h2 {
  margin: 20px 0;
}

.galleryTales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

.galleryTales > li > a {
  color: var(--iono-color);
  cursor: pointer;
}


  