.cardTale {
    border-radius: var(--iono-border-radius);
    width: auto;
    height: 100%;
    box-shadow: var(--iono-boxshadow-cards);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--iono-background-cards);
    transition: ease-in-out;
    gap: 5px;
  }
  
  .cardTale:hover {
    transform: scale(1.05);
  }

  .imgTale {
    width: 130px;
    height: 130px;
    border-radius: var(--iono-border-radius);
  }
  
  .imgTale > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--iono-border-radius);
  }