.getCharacters {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.roles {
  color: var(--iono-color-secondary);
  font-size: 2em;
  text-shadow: 5px 5px 6px var(--iono-text-shadow);
}

.getCharacters > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
}

.characterCard {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterCardImg {
  width: 230px;
  height: 230px;
}

.characterCardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--iono-border-radius);
}
