.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gameImgs {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.divImgGame {
  height: auto;
  width: auto;
}

.divImgGame > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.selectedTale {
  display: flex;
  width: 200px;
  height: 70px;
}

.selectedTale > button {
  padding: 10px 20px;
  background-color: var(--iono-background-button);
  border-radius: var(--iono-border-radius);
  border: none;
  font-weight: var(--iono-fw-button);
  width: 300px;
  font-weight: 900;
  font-size: 1.2rem;
}
