.tale {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tale > button {
    padding: 10px 20px;
    background-color: var(--iono-background-button);
    border-radius: var(--iono-border-radius);
    border: none;
    font-weight: var(--iono-fw-button);
    width: 300px;
}
